<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vilans.zorg" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ZorgVoorBeter</name>
    <description>
        Een Zorg App dat zorgmedewerkers bewust maakt van risico's
    </description>
    <author email="jeroen@jedeksvault.nl" href="http://www.jedeksvault.nl">
        Jedeksvault Software Development
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
